.DS_Store
.env*
**/.pytest_cache
**/__pycache__
**/bkp
*.log
*.sh
*.json
/*.sql
/*.txt
!/requirements.txt
*.cypher
**/data
**/G_update/*.md
**/G_update/*.html
**/G_update/*.sql
AGENTS.md
mtu
test
tools
movies
*/screenshots
pipeline_desc
ZTA-pipeline
**/tables.txt
**/production.txt
rdas-graph.png
workflow.html
requirements-full.txt
__init__.py

# Jupyter
.ipynb_checkpoints/
.virtual_documents/

# Checkpoint CSVs
*-checkpoint.csv

# Moon intermediate files
F_person/riea/Moon_*.csv
#!F_person/riea/Moon_final.csv

# Non-Python analysis/support files/
D_grant/init_10_linktable_PMID_already_exist_in_Publication_db.sql
D_grant/init_9_GARD_and_Project_relationship.single.explanation.txt
D_grant/init_9_GARD_and_Project_relationship.md
D_grant/table.sql
F_person/0_create_associate_id_int_column.sql
F_person/person.sql
F_person/riea/1_AuthorDisambiguation_NEW.ipynb
F_person/riea/Author disambiguation.docx
F_person/riea/Moon-2025-09-22.csv
Z_Alert/emails/alert_email_preview.html
Z_Alert/pipeline.MD

