venv/
.idea
*.pyc

new/firebase/email/key.json
new/config.ini
new/firestore/key.json
new/config.ini
new/config.ini
new/grant/raw
new/grant/processed
new/firestore_base/key.json
new/firestore_base/settings.py
