### VisualStudioCode ###
.vscode/*
.vscode/**/*
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

# End of https://www.gitignore.io/api/visualstudiocode
personal-config.ini

clinical/src/full_trial_data/
clinical/src/chromedriver
clinical/src/ctgov_nctids.json
clinical/src/ctgov_webscraped_names.csv
clinical/src/all_queries/
clinical/src/metamap_cond.txt
clinical/src/metamap_gard.txt
clinical/src/metamap_cond_out.json
pubmed/src/
gard/src/
grant/src/
__pycache__/
clinical/__pycache__/
pubmed/__pycache__/
pubmed/init_new.py
pubmed/methods_new.py
pubmed/archive/
grant/archive/
gard/__pycache__/
grant/__pycache__/
email/__pycache__/
transfer/*.dump
transfer/*.dump
backup/*/*.dump
migrated/*.dump
