boto3==1.26.77
botocore==1.29.154
fastapi==0.109.0
filelock==3.13.1
firebase_admin==6.1.0
fuzzywuzzy==0.18.0
jmespath==1.0.1
langchain==0.1.1
more_itertools==10.2.0
neo4j==5.5.0
nltk==3.8.1
numpy==1.24.2
pandas==1.5.3
pydantic==1.10.6
python_dateutil==2.8.2
rdsmproj==0.0.1
Requests==2.31.0
scikit_learn==1.2.2
scispacy==0.5.1
selenium==4.16.0
seqeval==1.2.2
skr_web_api==0.1
spacy==3.4.4
streamlit==1.29.0
tensorflow==2.15.0.post1
torch==2.0.1
transformers==4.30.2
Unidecode==1.3.6
urllib3==1.26.14
