abydos==0.5.0
accelerate==0.20.3
aiohttp==3.8.4
aiosignal==1.3.1
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asgiref==3.6.0
asttokens==2.2.1
async-generator==1.10
async-timeout==4.0.2
asyncio==3.4.3
attrs==22.2.0
aws==0.2.5
awscli==1.27.154
backcall==0.2.0
backports.zoneinfo==0.2.1
bcrypt==4.0.1
beautifulsoup4==4.11.2
bleach==6.0.0
blis==0.7.9
boto==2.49.0
boto3==1.26.77
botocore==1.29.154
bs4==0.0.1
build==0.10.0
CacheControl==0.12.11
cachetools==5.3.0
catalogue==2.0.8
certifi==2023.5.7
certificates==1.1.0
cffi==1.15.1
charset-normalizer==3.0.1
chromedriver-binary==114.0.5735.16.0
chromedriver-py==114.0.5735.16
click==8.1.3
cmake==3.26.0
colorama==0.4.4
comm==0.1.2
confection==0.0.4
conllu==4.5.2
cryptography==39.0.1
cssselect==1.2.0
cymem==2.0.7
datasets==2.13.1
debugpy==1.6.6
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
dill==0.3.6
Django==4.1.7
django-ses==3.3.0
docker==6.1.1
docopt==0.6.2
docutils==0.16
emoji==2.6.0
en-core-sci-lg @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_core_sci_lg-0.5.1.tar.gz
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.4.1/en_core_web_lg-3.4.1-py3-none-any.whl
en-ner-bc5cdr-md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_ner_bc5cdr_md-0.5.1.tar.gz
en-ner-bionlp13cg-md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_ner_bionlp13cg_md-0.5.1.tar.gz
en-ner-craft-md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_ner_craft_md-0.5.1.tar.gz
en-ner-jnlpba-md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_ner_jnlpba_md-0.5.1.tar.gz
evaluate==0.4.0
exceptiongroup==1.1.1
executing==1.2.0
fabric==3.0.0
fake-useragent==1.1.3
fastjsonschema==2.16.3
filelock==3.12.2
firebase==4.0.1
firebase-admin==6.1.0
fqdn==1.5.1
frozenlist==1.3.3
fsspec==2023.6.0
fuzzywuzzy==0.18.0
geckodriver-autoinstaller==0.1.0
google-api-core==2.11.0
google-api-python-client==2.79.0
google-auth==2.16.1
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-firestore==2.10.0
google-cloud-storage==2.7.0
google-crc32c==1.5.0
google-resumable-media==2.4.1
googleapis-common-protos==1.58.0
grpcio==1.51.3
grpcio-status==1.51.3
h11==0.14.0
httplib2==0.21.0
huggingface-hub==0.15.1
idna==3.4
importlib-metadata==6.0.0
importlib-resources==5.12.0
invoke==2.0.0
ipykernel==6.21.3
ipython==8.11.0
ipython-genutils==0.2.0
ipywidgets==8.0.4
isoduration==20.11.0
jedi==0.18.2
jellyfish==1.0.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonpointer==2.3
jsonschema==4.17.3
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter_client==8.0.3
jupyter_core==5.2.0
jupyter_server==2.3.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
langcodes==3.3.0
Levenshtein==0.21.1
lit==16.0.6
lxml==4.9.2
MarkupSafe==2.1.2
matplotlib-inline==0.1.6
mistune==2.0.5
mpmath==1.3.0
msgpack==1.0.4
multidict==6.0.4
multiprocess==0.70.14
murmurhash==1.0.9
nbclassic==0.5.3
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
neo4j==5.5.0
nest-asyncio==1.5.6
networkx==3.1
nltk==3.8.1
nmslib==2.1.1
notebook==6.5.3
notebook_shim==0.2.2
numpy==1.24.2
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
outcome==1.2.0
packaging==23.0
pandas==1.5.3
pandocfilters==1.5.0
paramiko==3.0.0
parse==1.19.0
parso==0.8.3
pathy==0.10.1
pexpect==4.8.0
pickleshare==0.7.5
pipreqs==0.4.13
pkgutil_resolve_name==1.3.10
platformdirs==3.1.0
preshed==3.0.8
prettytable==3.6.0
prometheus-client==0.16.0
prompt-toolkit==3.0.38
proto-plus==1.22.2
protobuf==4.22.0
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==12.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.1
pycparser==2.21
pydantic==1.10.6
pyee==8.2.2
pygit==0.1
Pygments==2.15.0
PyJWT==2.6.0
PyNaCl==1.5.0
pyparsing==3.0.9
pyppeteer==1.0.2
pyproject_hooks==1.0.0
pyquery==2.0.0
pyrsistent==0.19.3
pysbd==0.3.4
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.7
python-Levenshtein==0.21.1
pytz==2022.7.1
PyYAML==5.4.1
pyzmq==25.0.0
qtconsole==5.4.0
QtPy==2.3.0
rapidfuzz==3.1.1
rdsmproj==0.0.1
regex==2022.10.31
requests==2.31.0
requests-html==0.10.0
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rsa==4.7.2
s3transfer==0.6.0
safetensors==0.3.1
scikit-learn==1.2.2
scipy==1.10.1
scispacy==0.5.1
selenium==4.9.1
Send2Trash==1.8.0
six==1.16.0
sklearn==0.0.post5
skr-web-api @ file:///home/leadmandj/skr_web_python_api/dist/skr_web_api-0.1-py3-none-any.whl#sha256=6d90f0c4df9f0efcb6ec8aeef57457c0a6f9b56fa14fb8c970229f6d3bdb5e05
smart-open==6.3.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
spacy==3.4.4
spacy-legacy==3.0.12
spacy-loggers==1.0.4
sqlparse==0.4.3
srsly==2.4.6
stack-data==0.6.2
stanza==1.5.0
sympy==1.12
terminado==0.17.1
thefuzz==0.19.0
thinc==8.1.9
threadpoolctl==3.1.0
tinycss2==1.2.1
tokenizers==0.13.3
tomli==2.0.1
torch==2.0.1
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.30.2
trio==0.22.0
trio-websocket==0.10.2
triton==2.0.0
typer==0.7.0
typing_extensions==4.5.0
Unidecode==1.3.6
uri-template==1.2.0
uritemplate==4.1.1
urllib3==1.26.14
w3lib==2.1.1
wasabi==0.10.1
wcwidth==0.2.6
webcolors==1.12
webdriver-manager==3.8.6
webencodings==0.5.1
websocket-client==1.5.1
websockets==10.4
widgetsnbextension==4.0.5
wsproto==1.2.0
xxhash==3.2.0
yarg==0.1.9
yarl==1.9.2
zipp==3.15.0
