


pip
langchain-community
langchain_experimental
multiprocessing
evaluate
accelerate
rouge_score
bert_score
pyemd
pytest
sentencepiece
datasets
Unidecode
blanc
neo4j
spacy
locationtagger
lxml[html_clean]
pandas
python-louvain
networkx
community
ast
numpy
basemap
sklearn
unsloth
torch
collections
langchain
transformers










