Werkzeug==2.2.2
torch==2.2.2
transformers==4.41.2
requests==2.31.0
python-dotenv==0.21.0
uvicorn==0.18.3
fastapi==0.111.0
anyio==3.6.2
httpx==0.24.0
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cuda-cupti-cu12==12.1.105